
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 /* Add a black background color to the top navigation */
 .topnav {
  background-color: #f8f5f5;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #1f1c1c;
  text-align: bottom;
  padding: 8px 14px;
  text-decoration:none;
  font-size: 23px;
  font-weight:bold;
  transition: 0.3ms;
}

/* Change the color of links on hover */
.topnav a:hover {
  
  background-color: #f9f5f5;
    color: #230bacea;
}

/* Add a color to the active/current link */
.topnav a.active {
  
  color: #230bacea
}
.navbar .logo img {
  width:min-content;
  height: 4px;
  vertical-align:middle;
}
.topnav ul li.right {
  float: right;
}
.topnav ul a.right {
  float: right;
}
.topnav ul li a.logout {
  text-decoration: underline; /* Add this line to underline the "Logout" link */
}
