
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
  .topnav {
    width: auto;
    background-color: #f8f5f5;
    overflow: hidden;
    font-size: 23px;
  }
 
 

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  color: #1f1c1c;
  text-align: bottom;
  padding: 4px 14px;
  text-decoration:none;
  font-size: 23px;
  font-weight:bold;
  transition: 0.3ms;
}

/* Change the color of links on hover */
.topnav a:hover {
  
    background-color: #f9f5f5;
    color: #230bacea;
}


  /* Add a color to the active/current link */
.topnav ul a.active {
  float: left;
  margin-right: auto;
  color: #230bacea
}


.topnav ul a.right{
  float: right;
}
.topnav ul a.right {
  float: right;
  
}







